@font-face {
  font-family: 'EBGaramond-Medium';
  src: url("EBGaramond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Rubik';
  src: url("Rubik-Bold.woff2") format("woff2"), url("Rubik-Bold.woff") format("woff"), url("Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Rubik';
  src: url("Rubik-Medium.woff2") format("woff2"), url("Rubik-Medium.woff") format("woff"), url("Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Rubik';
  src: url("Rubik-Regular.woff2") format("woff2"), url("Rubik-Regular.woff") format("woff"), url("Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  color: #1f1f1f; }

h1, h2, h3, h5 {
  font-family: "EBGaramond-Medium", serif; }

h1 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.33px; }
  @media screen and (min-width: 992px) {
    h1 {
      font-size: 60px;
      line-height: 64px;
      font-weight: 400;
      letter-spacing: -1px; } }

h2 {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.2px; }
  @media screen and (min-width: 992px) {
    h2 {
      font-size: 48px;
      line-height: 52px;
      font-weight: 400;
      letter-spacing: -0.5px; } }

h3 {
  font-size: 26px;
  line-height: 34px; }
  @media screen and (min-width: 992px) {
    h3 {
      font-size: 36px;
      line-height: 42px;
      font-weight: 400; } }

h4 {
  font-size: 20px;
  line-height: 30px; }
  @media screen and (min-width: 992px) {
    h4 {
      font-size: 24px;
      line-height: 34px;
      font-weight: 500; } }

h5 {
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
  font-weight: 500; }
  @media screen and (min-width: 992px) {
    h5 {
      font-size: 24px;
      line-height: 34px; } }

h6 {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 2px; }

p {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400; }

p.big {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400; }
  @media screen and (min-width: 992px) {
    p.big {
      font-size: 22px;
      line-height: 32px; } }

p.small {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400; }

p.meta {
  font-family: "Overpass Mono", monospace;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: -0.3px; }

.btn-default {
  background-color: #1f1f1f;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  position: relative; }
  .btn-default:after {
    position: absolute;
    content: '>';
    top: 8.5px;
    right: 7px; }

.btn-lg {
  padding: 20px 30px; }

.btn-outline {
  background-color: transparent;
  border: 2px solid #1f1f1f; }

.btn-lg-outline {
  background-color: transparent;
  border: 2px solid #1f1f1f; }

.link a {
  color: #fff !important;
  text-transform: uppercase;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-weight: 500;
  letter-spacing: 1px; }
  .link a::after {
    content: '>'; }

#homeHero .fl-col-content.fl-node-content {
  min-height: 300px; }
  @media screen and (min-width: 992px) {
    #homeHero .fl-col-content.fl-node-content {
      min-height: 500px; } }

#homeHero .link {
  padding-top: 20px;
  text-align: center; }

#section-1 {
  position: relative;
  overflow: hidden; }
  #section-1 .stripe {
    content: url(./img/blue-stripe.png);
    position: absolute;
    left: 0;
    width: 100vw;
    min-width: 760px; }
  #section-1 #quote {
    position: relative;
    margin-top: 5rem; }
    #section-1 #quote::before {
      position: absolute;
      left: 0;
      content: url(./img/quote.png);
      left: 42%;
      top: 0; }
  #section-1 .center-text {
    padding-top: 3rem;
    max-width: 600px;
    margin: 0 auto; }

footer {
  overflow: hidden;
  position: relative; }
  footer .stripe {
    content: url(./img/blue-stripe.png);
    position: absolute;
    right: -33%;
    top: 0;
    width: 100vw;
    min-width: 760px; }
  footer .footer-logo {
    background: url(./img/footer-logo.png) no-repeat center center;
    width: 217px;
    height: 90px;
    margin: 80px auto 30px; }
